body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: lightgray;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 40px;
}

.square {
  background-color: rgb(196, 169, 169);
  border: 2px solid #999;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.valX {
  color: rgb(105, 12, 12);
}

.valO {
  color: rgb(41, 41, 124);
}

.message {
  color: black;
}

.message-error {
  color: red;
  font-weight: bold;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: block;
  clear: both;
  margin-left: 20px;
}

ol,
ul {
  padding-left: 40px;
}

.moves {
  cursor: pointer;
  width: 150px;
  padding: 10px 0 10px 0;
  transition: 0.3s ease-out;
}

.moves:hover {
  background-color: burlywood;
  box-shadow: 10px 3px 15px 0px rgba(99, 89, 25, 0.6);
}

.moves.moves-current {
  transition: 0s;
  font-weight: bold;
  color: rgb(250, 143, 143);
  background-color: rgb(51, 49, 49);
}

.moves.moves-current:hover {
  box-shadow: 6px 3px 15px 0px rgba(0, 0, 0, 1);
}

.btn {
  width: 120px;
  height: 50px;
  background-color: rgba(66, 146, 42, 0.692);
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(172, 26, 26);
  color: rgb(233, 214, 151);
  font-size: 18px;
  height: 50px
}

.winner {
  background-color: rgb(107, 10, 47);
  color: gold;
}