body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 40px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 12vw;
  font-weight: bold;
  line-height: 10vw;
  height: 12vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 12vw;
}

.square.valX {
  color: rgb(105, 12, 12);
}
.square.valO {
  color: rgb(41, 41, 124);
}

.message {
  color: black;
}

.message-error {
  color: red;
  font-weight: bold;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: block;
  clear: both;
  margin-left: 20px;
}
ol,
ul {
  padding-left: 40px;
}
.moves {
  cursor: pointer;
  width: 150px;
  padding: 10px 0 10px 0;
  transition: 0.3s ease-out;
}

.moves:hover {
  background-color: burlywood;
  box-shadow: 10px 3px 15px 0px rgba(99, 89, 25, 0.6);
}

.moves.moves-current {
  transition: 0s;
  font-weight: bold;
  color: rgb(250, 143, 143);
  background-color: rgb(51, 49, 49);
}

.moves.moves-current:hover {
  box-shadow: 6px 3px 15px 0px rgba(0, 0, 0, 1);
}
